table {
    border-collapse: collapse;
    border: 1px solid #242424;
}

td {
    border: 1px solid #242424;
    background-color: white;
}

#navbar {
    display: flex;
    position: relative;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: cadetblue;
    
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    
    transition: 300ms;
}

#container {
    display: flex;

    padding-top: 60px;
    justify-content: center;
}

.background {
    width: 100%;
    height: 100vw;
    background-color: #eaeaea;
    z-index: -1;
    position: absolute;
    transition: 300ms;
    border-radius: 25px;
}