#app {
    padding:1em;
    display:grid;
    gap:1em;
    grid-template:"header header" min-content "main sidebar" 1fr / 1fr 210px;
    margin:auto;
    width:min(100%,850px)
  }
  @media (max-width: 700px) {
    #app {
      grid-template:"header" min-content "main" min-content "sidebar" min-content
    }
  }
  #header {
    grid-area:header
  }
  #mainColumn {
    grid-area:main
  }
  #sidebar {
    grid-area:sidebar
  }
  #mainColumn>*,
  #sidebar>* {
    margin-bottom:1em
  }
  #tools {
    --min-column-width: 250px;
    grid-gap:1em
  }
  #tools img {
    display:block;
    text-align:center;
    width:100%;
    height:auto
  }
  #tools div {
    padding:.5em;
    line-height:1.2
  }
  .Card h1 {
    width: fit-content;
    font-size: 100%;
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
    padding: 3px;
    margin-left:auto;
    margin-right: 7px;
  }
  .red {
    color: red;
    border-color:red!;
  }
  .blue {
    color: blue;
    border-color: blue;
  }
  .green {
    color: green;
    border-color: green;
  }
  #tools h2 {
    font-size:100%;
    margin:0
  }
  #links {
    --min-column-width: 90px;
    grid-gap:1em;
    align-items:start
  }
  #links .Card {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    grid-gap:.5em;
    aspect-ratio:1
  }
  #links i {
    display:grid;
    place-items:center;
    height:1em;
    width:1em;
    font-size:200%
  }
  #links h3 {
    margin:0
  }
  html {
    --accent: hsl(180, 42%, 58%);
    --backdrop: #eee;
    --onBackdrop: #444;
    --surface: #fff;
    --onSurface: #444;
    --altSurface: #eee;
    --soft: .8
  }
  html {
    font-family:Tahoma,sans-serif;
    background:var(--backdrop);
    color:var(--onBackdrop);
    line-height:1.5
  }
  code {
    font-family:Courier New,Courier,monospace;
    background:var(--altSurface)
  }
  small {
    font-size:80%;
    opacity:var(--soft)
  }
  * {
    box-sizing:border-box
  }
  a {
    color:var(--accent)
  }
  html {
    overflow:hidden
  }
  body {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    overflow:auto;
    margin:0
  }
  .WrappingGrid {
    --min-column-width: 250px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(min(100%,var(--min-column-width)),1fr))
  }
  .Card {
    position:relative;
    font:inherit;
    text-decoration:inherit;
    background:var(--surface);
    color:var(--onSurface);
    border-radius:.4em;
    overflow:hidden;
    box-shadow:0 0 .5em #0002;
    transition:box-shadow .1s;
    contain:content
  }
  a.Card:hover {
    box-shadow:0 0 .5em #0003
  }
  a.Card:active {
    box-shadow:0 0 .5em #0005
  }
  a.Card:before {
    content:"";
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:currentColor;
    opacity:0;
    transition:opacity .1s;
    z-index:-1
  }
  a.Card:hover:before {
    opacity:calc(var(--soft) / 12)
  }
  a.Card:active:before {
    opacity:calc(var(--soft) / 12 * 2)
  }
  